{include="header2"}

{if="$fsc->factura"}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tipo de Comprobante</th>
                <th>Fecha Vencimiento Comprobante</th>
                <th>Tipo de Ingreso</th>
                <th>Tipo de Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{$fsc->ncf_venta->tipo_comprobante} - {$fsc->ncf_venta->tipo_descripcion}</td>
                <td>{$fsc->ncf_venta->fecha_vencimiento}</td>
                <td>{$fsc->ncf_venta->tipo_ingreso} - {$fsc->ncf_venta->descripcion_tipo_ingreso}</td>
                <td>{$fsc->ncf_venta->tipo_pago} - {$fsc->ncf_venta->descripcion_tipo_pago}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

{if="$fsc->factura->anulada"}
<div class="alert alert-danger">
   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> &nbsp; Esta factura está anulada.
</div>
{else}

{/if}
<br/>
{/if}

{include="footer2"}