{include="header2"}

{if="$fsc->factura"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-capitalize">{#FS_FACTURA_RECTIFICATIVA#}</th>
            <th>Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->factura->get_rectificativas()"}
      <tr>
         <td><a href="{$value->url()}" target="_parent">{$value->codigo}</a> {$value->numero2}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right" title="Hora {$value->hora}">
            {if="$value->fecha==$fsc->today()"}<b>{$value->fecha}</b>{else}{$value->fecha}{/if}
         </td>
      </tr>
      {else}
      <tr class="warning">
         <td colspan="4">Ninguna {#FS_FACTURA_RECTIFICATIVA#} encontrada.</td>
      </tr>
      {/loop}
   </table>
</div>

<br/>

{if="$fsc->factura->anulada"}
<div class="alert alert-danger">
   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Esta factura está anulada.
</div>
{else}
<form action="{$fsc->url()}" id="f_devolucion" method="post" class="form">
   <input type="hidden" name="id" value="{$fsc->factura->idfactura}"/>
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-info">
           <div class="panel-heading">
              <h3 class="panel-title">Nueva devolución</h3>
           </div>
           <div class="panel-body">
              <p class="help-block">
                 Rellena la columna <b>Devolver</b> para indicar qué cantidades y de qué
                 artículos se quiere guardar la devolución. Se generará una {#FS_FACTURA_RECTIFICATIVA#}.
              </p>
           </div>
           <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Artículo</th>
                        <th width="150" class="text-right">Precio</th>
                        <th width="120" class="text-right">Descuento</th>
                        <th width="150" class="text-right">Cantidad</th>
                        <th width="150" class="text-right">Cantidad devuelta</th>
                        <th width="150" class="text-right">Devolver</th>
                     </tr>
                  </thead>
                  <tbody id='lineas_factura'>
                  {loop="$fsc->factura->get_lineas()"}
                  {$devoluciones=$fsc->cantidad_devuelta($value->idfactura, $value->referencia)}
                  {$devoluciones_max=$value->cantidad+$devoluciones}
                  {$class=''}
                  {* ### Añadido para detectar visualmente cuando han habido devoluciones en exceso ### *}
                  {if="$devoluciones_max<0"}
                     {$devoluciones_max=0}
                     <!--{$class=' class="danger"'}-->
                  {elseif="$devoluciones_max==0"}
                     <!--{$class=' class="success"'}-->
                  {/if}
                  <tr{$class} id='linea_{$value->idlinea}'>
                     <td>
                        <div class="form-control">{$value->referencia} {$value->descripcion}</div>
                     </td>
                     <td class="text-right">
                        <div class="form-control">{$fsc->show_precio($value->pvpunitario, $fsc->factura->coddivisa)}</div>
                     </td>
                     <td class="text-right">
                        <div class="form-control">{$fsc->show_numero($value->dtopor)} %</div>
                     </td>
                     <td class="text-right">
                        <div class="form-control">
                            <input type='hidden' id='cantidad_{$value->idlinea}' name='cantidad_{$value->idlinea}' value='{$value->cantidad}'>
                            {$value->cantidad}
                        </div>
                     </td>
                     <td class="text-right">
                       <div class="form-control">{$devoluciones}</div>
                     </td>
                     <td class="info">
                            <input type="number" id="devolver_{$value->idlinea}" name="devolver_{$value->idlinea}" value="0" min="0" max="{$value->cantidad}" step="any" class="form-control text-right"/>
                     </td>
                  </tr>
                  {/loop}
                  </tbody>
               </table>
           </div>
           <div class="panel-body">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->serie->url()}" target="_parent">Serie</a>:
                        <select name="codserie" class="form-control">
                           {loop="$fsc->serie->all()"}
                             {if="$value->codserie=='R'"}
                             <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                             {else}
                             <option value="{$value->codserie}">{$value->descripcion}</option>
                             {/if}
                           {/loop}
                        </select>
                           {if="$fsc->empresa->codpais=='ESP'"}
                            <p class="help-block">
                               En España la {#FS_FACTURA_RECTIFICATIVA#} debe ir en una serie distinta.
                            </p>
                           {/if}
                           <p class="help-block text-danger bg-danger">
                                No se puede hacer {#FS_FACTURA_RECTIFICATIVA#} de articulos que salieron con descuento del 100% ya que generaría valor 0 en {#FS_IVA#} e importe.
                            </p>
                     </div>
                    </div>
                    <div class="col-sm-2">
                       <div class="form-group">
                          Fecha:
                          <div class="input-group">
                             <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                             </span>
                             <input type="text" name="fecha" {if="!$fsc->user->admin"}readonly{/if} value="{$fsc->today()}" class="form-control {if="$fsc->user->admin"}datepicker{/if}" autocomplete="off"/>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-7 text-right">
                       <br/>
                       <button type="button" class="btn btn-sm btn-warning" id="b_devolucion_total">
                          <span class="fa fa-undo" aria-hidden="true"></span>&nbsp; Devolución Total
                       </button>
                       <button type="button" class="btn btn-sm btn-primary"  onClick="this.disabled = true; this.form.submit();">
                          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp; Guardar
                       </button>
                    </div>
                   
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                         Motivo de la Anulaci&oacute;n:
                         <select name="motivo" class="form-control" required>
                         <option value=""></option>
                         {loop="$fsc->ncf_tipo_anulacion->all()"}
                         <option value="{$value->codigo}">{$value->codigo} {$value->descripcion}</option>
                         {/loop}
                         </select>
                     </div>
                  </div>
               </div>
           </div>
         </div>
      </div>
   </div>
</form>
<script>
    $(document).ready(function () {
        bootbox.setLocale('es');
        $('#b_devolucion_total').click(function (event) {
            bootbox.confirm({
                title: '¿Generar devolución completa de la factura?',
                message: "¿Desea generar la devolución completa de la factura?, si acepta se copiarán los valores de todos los productos a devolver, luego de esto debe dar click en Guardar.",
                callback: function(respuesta)
                {
                    if(respuesta)
                    {
                        $('#lineas_factura > tr').each(function(idx) {
                            console.log(idx);
                            var item = this.id;
                            var item_parts = item.split('_');
                            var linea = item_parts[1];
                            var cantidad = $('#cantidad_'+linea).val();
                            $('#devolver_'+linea).attr('readonly','true');
                            $('#devolver_'+linea).val(cantidad); 
                        });
                    }
                }
            });
        });
    });
</script>
{/if}
<br/>
{/if}

{include="footer2"}