# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

/nbproject/
/.php_cs.cache
view/img/.DS_Store
vendor/FacturaScripts/.DS_Store
.DS_Store
extras/.DS_Store

.idea/
.php_cs.cache
.php-cs-fixer.cache