{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h2>República Dominicana</h2>
         </div>
         <p>
            Este plugin está en desarrollo. Por ahora se ha añadido el <b>Plan contable de República Dominicana</b>
            para que puedas importarlo en los ejercicios. Pruébalo ;-)
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            Establecer DOP como moneda por defecto
         </a>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            Establecer República Dominicana como pais por defecto
         </a>
      </div>
   </div>
</div>

{include="footer"}
