{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h2>Localizaci&oacute;n para República Dominicana de Factura Scripts</h2>
         </div>
         <p align="justify">
            Este plugin está en desarrollo constante. Contiene el <b>Plan contable de República Dominicana</b>
            para que puedas importarlo en los ejercicios.<br /> En <b>Contabilidad > Maestro NCF</b> puedes ingresar 
            tus solicitudes de NCF y debes marcar cuales son para uso al contado y cuales son para uso al crédito.<br />
            En el boton de eliminar facturas, la opción eliminar, pone en 0 los montos de la factura y devuelve el stock
            de productos al Almac&eacute;n creando un conduce con las cantidades en negativo. La opción anular crea una
            nota de crédito con NCF.<br />
            Al crear clientes debes de indicar que tipo de comprobante fiscal se le va generar.<br/>
            Para la parte de Compras deberás usar el campo <b>Numero2</b> para ingresar allí el comprobante fiscal de la 
            factura del proveedor.<br />
            En <b>Informes > Informes Fiscales</b> tienes los reportes 606, 607 y 608 para que los exportes y copies en las 
            Herramientas de la DGII.<br />
         <div class="alert alert-warning" role="alert">Asegurate que la versi&oacute;n de FacturaScripts sea como m&iacute;nimo la <b>2015.049</b> y que
         el plugin facturacion_base este en la version 63</div>
         <div class="text-center"><b>Esta versi&oacute;n de FacturaScripts es la {$fsc->version()}</b></div>
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            Establecer DOP como moneda por defecto
         </a>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            Establecer República Dominicana como pais por defecto
         </a>
      </div>
   </div>
</div>

{include="footer"}
