{include="header"}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Localizaci&oacute;n para República Dominicana de FacturaScripts
                <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                </h2>

            </div>
            <p align="justify">
                Este plugin está en desarrollo constante. Contiene el <b>Plan contable de República Dominicana</b>
                para que puedas importarlo en los ejercicios.<br /> En <b>Contabilidad > Maestro NCF</b> puedes ingresar
                tus solicitudes de NCF y debes marcar cuales son para uso al contado y cuales son para uso al crédito.<br />
                En el boton de eliminar facturas, la opción eliminar, pone en 0 los montos de la factura y devuelve el stock
                de productos al Almac&eacute;n creando un conduce con las cantidades en negativo. La opción anular crea una
                nota de crédito con NCF.<br />
                Al crear clientes debes de indicar que tipo de comprobante fiscal se le va generar.<br/>
                Para la parte de Compras deberás usar el campo <b>Numero2</b> para ingresar allí el comprobante fiscal de la
                factura del proveedor.<br />
                En <b>Informes > Informes Fiscales</b> tienes los reportes 606, 607 y 608 para que los exportes y copies en las
                Herramientas de la DGII.<br />
                <div class="alert alert-info" role="alert">
                    Asegurate que la versi&oacute;n de FacturaScripts sea como m&iacute;nimo la <b>2017.005</b> y que
                    el plugin facturacion_base este en la <b>version 105</b> como mínimo
                </div>
                <div class="text-center"><b>Esta versi&oacute;n de FacturaScripts es la {$fsc->version()}</b></div>
            </p>
            <p align="justify">
                <strong>Para importar el plan contable en Contabilidad > Ejercicios, debes hacer lo siguiente:</strong>
                <ol>
                    <li>Crear el nuevo ejercicio en Contabilidad > Ejercicios : boton <b>Nuevo</b></li>
                    <li>Cuando aparezca la venta de <b>Importar datos del ejercicio</b>, dale a la X para que se cierre esa venta</li>
                    <li>En las opciones debes cambiar donde dice <b>Longitud subcuenta 10</b> por <b>Longitud subcuenta 8</b></li>
                    <li>Una vez realizado el cambio, le das al boton Guardar arriba a la derecha</li>
                    <li>Despues del aviso de que se efectuaron correctamente los cambios, puedes darle al boton <b>Importar</b>.</li>
                </ol>
            </p>
            <br/>
        </div>
    </div>
    <div class="row">
        <a href="{$fsc->url()}&opcion=moneda" class="btn btn-sm {if="$fsc->conf_divisa"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_divisa"}<span class="fa fa-check"></span>&nbsp;{/if}Establecer DOP como moneda por defecto
        </a>
        <a href="{$fsc->url()}&opcion=pais" class="btn btn-sm {if="$fsc->conf_pais"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_pais"}<span class="fa fa-check"></span>&nbsp;{/if}República Dominicana como pais por defecto
        </a>
        <a href="{$fsc->url()}&opcion=configuracion_regional" class="btn btn-sm {if="$fsc->conf_regional"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_regional"}<span class="fa fa-check"></span>&nbsp;{/if}Zona Horaria, Decimales y traducciones
        </a>
        <a href="{$fsc->url()}&opcion=impuestos" class="btn btn-sm {if="$fsc->conf_impuestos"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_impuestos"}<span class="fa fa-check"></span>&nbsp;{/if}Agregar Impuestos ITBIS y Exentos
        </a>
    </div>
    <div class="row" style='margin-top: 15px;'>
        <div class="col-sm-12">
            <form method="POST" action="{$fsc->url()}&opcion=impresion" class='form-inline'>
                <div class='form-group col-sm-3'>
                    <label for="rd_imprimir_logo" class='checkbox'>
                        Imprimir Logo de Empresa en la factura:
                        <input type="checkbox" name="rd_imprimir_logo" id="rd_imprimir_logo" value="TRUE" {if="$fsc->rd_setup['rd_imprimir_logo']=='TRUE'"}checked{/if}>
                    </label>
                </div>
                <div class='form-group col-sm-3'>
                    <label for="rd_imprimir_marca_agua" class='checkbox'>
                        Imprimir Marca de agua del logo de la empresa en la factura:
                        <input type="checkbox" name="rd_imprimir_marca_agua" id="rd_imprimir_marca_agua" value="TRUE" {if="$fsc->rd_setup['rd_imprimir_marca_agua']=='TRUE'"}checked{/if}>
                    </label>
                </div>
                <div class='form-group col-sm-3'>
                    <label for="rd_imprimir_bn" class='checkbox'>
                        Imprimir blanco y negro:
                        <input type="checkbox" name="rd_imprimir_bn" id="rd_imprimir_bn" value="TRUE" {if="$fsc->rd_setup['rd_imprimir_bn']=='TRUE'"}checked{/if}>
                    </label>
                </div>
                <div class='form-group col-sm-3'>
                    <button class='btn btn-sm btn-success'>
                        <span class="fa fa-save"></span>&nbsp;Guardar Cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{include="footer"}
