{include="header"}

<script type="text/javascript">

    function delete_datos_solicitud(url)
    {
        bootbox.confirm({
            title: 'Eliminar Solicitud de NCF',
            message: '¿Realmente desea eliminar estos datos de la solicitud?',
            callback: function(respuesta) {
                if(respuesta)
                {
                    window.location.href = url;
                }
            }
        });
    }
    
    function mostrarFechaVencimiento(valor)
    {
        if(valor === '02' || valor === '04') {
            $('#div_fecha_vencimiento').hide();
        } else {
            $('#div_fecha_vencimiento').show();
        }
    }
    
    $(document).ready(function () {
        bootbox.setLocale('es');
        $("#b_nueva_solicitud_ncf").click(function (event) {
            event.preventDefault();
            $("#modal_nueva_solicitud_2018").modal('show');
            document.f_nueva_solicitud_ncf_2018.solicitud.focus();
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    Maestro de NCF
                    <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                    <span class="btn-group">
                        <a id="b_nueva_solicitud_ncf" class="btn btn-sm btn-success" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-xs">&nbsp; Ingresar Nueva Solicitud</span>
                        </a>
                        {loop="$fsc->extensions"}
                        {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                        {/if}
                        {/loop}
                    </span>
                </h1>
                <p class="help-block bg-info">
                    <span class="fa fa-info-circle fa-fw"></span>
                    A partir del <b>01 de Mayo del 2018</b> se debe tener las nuevas secuencias de NCF para generar los comprobantes fiscales. Para que el sistema tome el NCF Correcto
                    debe desactivar el 01 de Mayo sus Solicitudes de NCF anteriores y agregar las Nuevas Solicitudes, si deja activas las anteriores y agrega las nuevas el 
                    sistema no tendrá la capacidad de saber que rango utilizar.
                </p>
                <p class="help-block">
                    <span class="fa fa-info-circle fa-fw"></span>
                    Para más información puede revisar la 
                    <a class="btn btn-sm btn-danger" target="_blank" href="http://www.dgii.gov.do/informacionTributaria/publicaciones/manualesTributarios/Documents/Guia-Informativa-NCF.pdf">
                       <span class="fa fa-file fa-fw"></span>Guía Informativa sobre Comprobantes Fiscales
                    </a>
                    donde dá información de estos cambios.s
                </p>
                <p class="help-block">
                    <span class="fa fa-info-circle fa-fw"></span>
                    <b>NCF por sucursal:</b> Los rangos de NCF ya no se dan por sucursal, por lo que si quiere realizar esta tarea deberá pedir un rango mayor de NCF
                    por tipo de documento y partir esta rango equitativamente entre sus sucursales, por ejemplo si solicita 100mil NCF y tiene 2 sucursales puede hacer que 
                    la Sucursal Uno tenga el rango del 1 al 50000 y la Sucursal Dos tenga del rango 50001 al 100000, para lo cual deberá ingresar la solicitud
                    de NCF para sucursal con su rango de numeros, si no desea tener el control de esta forma puede ingresar la Solicitud de NCF y colocar el almacén principal, 
                    y el sistema automáticamente tomará este rango para todas las sucursales.
                </p>
                <p class="help-block">
                    <span class="fa fa-info-circle fa-fw"></span>Se debe registrar en esta página la lista de Solicitudes de NCF autorizadas por DGII en República Dominicana,
                    si este no es su país, por favor revise su configuración ya que se activará información para este pais.
                    <a href="index.php?page=admin_empresa#facturacion">Ir a configuración de la empresa</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-sm-1 text-center">Solicitud</th>
                    <th class="col-sm-1 text-center">Autorización</th>
                    <th class="col-sm-1 text-center">Almacén</th>
                    <th class="col-sm-1 text-center">Serie</th>
                    <th class="col-sm-2 text-center">Tipo Comprobante</th>
                    <th class="col-sm-1 text-center">Inicia</th>
                    <th class="col-sm-1 text-center">Fin</th>
                    <th class="col-sm-1 text-center">Correlativo</th>
                    <th class="col-sm-1 text-center">Fec. Vencimiento</th>
                    <th class="col-sm-1 text-center">Activo</th>
                    <th class="col-sm-1 text-center"></th>
                </tr>
            </thead>
            <tbody>
                {loop="$fsc->ncf_rango->all($fsc->empresa->id)"}
                <form class="form" role="form" action="{$fsc->url()}" method="POST">
                <tr {if="!$value->estado"}class="bg-danger"{/if}>
                    <td>
                        <input type="hidden" name="id" value="{$value->id}"/>
                        <input type="hidden" name="solicitud" value="{$value->solicitud}"/>
                        <input type="hidden" name="autorizacion" value="{$value->autorizacion}"/>
                        {$value->solicitud}
                    </td>
                    <td>{$value->autorizacion}</td>
                    <td>
                        <select name="codalmacen" class="form-control">
                            {loop="$fsc->almacen->all()"}
                            <option value="{$value2->codalmacen}"{if="$value1->codalmacen==$value2->codalmacen"} selected=""{/if}>{$value2->nombre}</option>
                            {/loop}
                        </select>
                    </td>
                    <td>
                        <select name="serie" class="form-control">
                        {loop="$fsc->array_series"}                        
                            <option value="{$value2[0]}"{if="$value1->serie==$value2[0]"} selected=""{/if}>{$value2[0]}</option>
                        {/loop}
                        </select>
                    </td>
                    <td>
                        <select name="tipo_comprobante" class="form-control">
                            {loop="$fsc->ncf_tipo->all()"}
                                {if="$value1->tipo_comprobante==$value2->tipo_comprobante"}
                                <option value="{$value2->tipo_comprobante}" selected="">{$value2->tipo_comprobante} - {$value2->descripcion}</option>
                                {else}
                                <option value="{$value2->tipo_comprobante}">{$value2->tipo_comprobante} - {$value2->descripcion}</option>
                                {/if}
                            {/loop}
                        </select>
                    </td>
                    <td>
                        <input class="form-control text-right" type="number" name="secuencia_inicio" min="1" max="99999999" value="{$value->secuencia_inicio}" autocomplete="off"/>
                    </td>
                    <td>
                        <input class="form-control text-right" type="number" name="secuencia_fin" min="1" max="99999999" value="{$value->secuencia_fin}" autocomplete="off"/>
                    </td>
                    <td>
                        <input class="form-control text-right" type="number" name="correlativo" min="1" max="99999999" value="{$value->correlativo}" autocomplete="off"/>
                    </td>
                    <td>
                        <input class="form-control datepicker" type="text" name="fecha_vencimiento" value="{$value->fecha_vencimiento}" autocomplete="off"/>
                    </td>
                    <td class="text-center">
                        <div class="checkbox">
                        <input type="checkbox" name="estado" value="TRUE" {if="$value->estado=='t'"}checked=""{/if}/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {if="$fsc->allow_delete"}
                                {if="$value->correlativo>$value->secuencia_inicio"}
                                <a class="btn btn-sm btn-warning pull-left" onclick="bootbox.alert('No puedes eliminar esta información porque ya esta en uso.')">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </a>
                                {else}
                                <a class="btn btn-sm btn-danger pull-left" onclick="delete_datos_solicitud('{$fsc->url()}&delete={$value->id}')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                {/if}
                            {/if}
                            <button class="btn btn-sm btn-primary" name="accion" value="modificar" type="submit">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                {else}
                <tr>
                    <td colspan="10">
                         <div class="alert alert-danger">Ninguna solicitud de NCF registrada.</div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
    </div>
</div>

{include="modal_nueva_solicitud_ncf_2018"}

{include="footer"}